section.pricings .card-container .pricing.card {
  flex-basis: calc(33.333% - 180px);
  padding: 15px;
  background-color: #007bff;
  text-align: justify;
  color: #fff;
}

h2, h3 {
  text-align: center;
}

.price {
  text-align: center;
}